{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur - EcoRide{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h2 class="mb-4 text-center">Bienvenue dans votre espace, {{ user.pseudo }}</h2>

    {% if user.userType is null %}
        <p class="text-center text-muted mb-4">
            Vous n’avez pas encore choisi de rôle sur la plateforme.
        </p>
        <div class="text-center mb-4">
            <a href="{{ path('app_choix_profil') }}" class="btn btn-ecoride btn-ecoride-primary px-4 py-2">
                Choisir mon rôle
            </a>
        </div>
    {% else %}
        <p class="text-center mb-4">
            Vous êtes <strong>{{ user.userType|title }}</strong>
        </p>
        <div class="text-center mb-4">
            <a href="{{ path('app_choix_profil') }}" class="btn btn-outline-secondary btn-sm">
                Modifier mon rôle
            </a>
        </div>
    {% endif %}

    {% if 'chauffeur' in user.userType %}
        <div class="text-center mb-4">
            <a href="{{ path('app_vehicule_new') }}" class="btn btn-ecoride btn-ecoride-primary px-4 py-2">
                Ajouter un véhicule
            </a>
        </div>
         <div class="text-center mb-4">
            <a href="{{ path('app_espace_trajet_new') }}" class="btn btn-ecoride btn-ecoride-primary px-4 py-2">
                Saisir un nouveau trajet
            </a>
        </div>
    {% endif %}

    {% if vehicules is not empty %}
        <h4>Vos véhicules enregistrés :</h4>
        <div class="row mt-3">
            {% for v in vehicules %}
                <div class="col-md-6 mb-3">
                    <div class="card p-3">
                        <h5>{{ v.marque }} {{ v.modele }}</h5>
                        <p><strong>Immatriculation :</strong> {{ v.immatriculation }}</p>
                        <p><strong>Énergie :</strong> {{ v.typeEnergie|capitalize }}</p>
                        <p><strong>Places :</strong> {{ v.places }}</p>
                        <p><strong>Fumeur :</strong> {{ v.preferFumeur ? 'Oui' : 'Non' }}</p>
                        <p><strong>Animaux :</strong> {{ v.preferChien ? 'Oui' : 'Non' }}</p>
                        {% if v.preferencesLibres %}
                            <p><strong>Autres préférences :</strong> {{ v.preferencesLibres }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted text-center">Aucun véhicule enregistré pour le moment.</p>
    {% endif %}
</div>
{% endblock %}
